:root {
  --background-color: #030303;
  --border-radius: 10px;
  --text-color: #ffffff;
  --heading-font-size: 32px;
  --font-size: 16px;
  --font-family: "Poppins", sans-serif;
  --radio-button-bg: #ffffff;
  --selected-radio-button-bg: #6741d9;
  --text-field-border: #ffffff;
  --graph-bars-color: #f0c3f1;
  --bar-axis-color: #ffffff;
  --save-button-bg: #6741d9;
  --save-button-hover-bg: #f0c3f1;
}

.dashboard-container {
  text-align: center;
  color: var(--text-color);
  padding: 20px;
  box-sizing: border-box;
  height: 100vh;
  position: relative;
  width: 100vw;
}

.dashboard-heading {
  font-size: var(--heading-font-size);
  margin-bottom: 20px;
  text-align: center;
  font-family: var(--font-family);
}
@media only screen and (max-width: 600px) {
  .dashboard-heading {
    font-size: 24px;
  }
}

.inputs-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.price-input {
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;

  @media only screen and (min-width: 600px) {
    width: 600px;
  }
}

@media only screen and (min-width: 600px) {
  .price-input {
    flex-direction: row;
    justify-content: flex-end;
    width: 600px;
  }

  .price-input .amount-label {
    width: 400px;
    margin-right: 10px;
    text-align: left;
  }
}

.price-input .amount-label {
  color: var(--text-color);
  margin-bottom: 5px;
  font-size: var(--font-size);
}

.price-input input {
  width: 100%;
  background-color: var(--background-color);
  border-radius: var(--border-radius);
  color: var(--text-color);
  padding: 10px 5px;
  font-size: var(--font-size);
  font-family: var(--font-family);
  border: 1px solid var(--text-field-border);
  text-align: center;
}

.radio-buttons {
  display: flex;
  gap: 10px;
  align-items: center;
  flex: 1;
  padding: 0 40px;
}

.radio-buttons input {
  margin-top: 2px;
  background-color: var(--radio-button-bg);
  border-radius: var(--border-radius);
  border: 1px solid var(--text-field-border);
}

.radio-buttons input:checked {
  background-color: var(--selected-radio-button-bg);
}

.custom-request-amount {
  width: 50%;
  background-color: var(--background-color);
  border-radius: var(--border-radius);
  color: var(--text-color);
  padding: 10px 5px;
  font-size: var(--font-size);
  font-family: var(--font-family);
  border: 1px solid var(--text-field-border);
}

.regular-song-amounts {
  display: flex;
  justify-content: flex-end;
}

.regular-song-amounts input {
  width: calc(25% - 10px);
  margin: 5px;
  background-color: var(--background-color);
  border-radius: var(--border-radius);
  color: var(--text-color);
  padding: 10px 5px;
  font-size: var(--font-size);
  font-family: var(--font-family);
  border: 1px solid var(--text-field-border);
}

.song-amount-inputs {
  display: flex;
  justify-content: flex-end;
  width: 400px;
}

.save-button {
  background-color: var(--save-button-bg);
  color: var(--text-color);
  padding: 15px;
  cursor: pointer;
  border: none;
  border-radius: var(--border-radius);
  font-size: var(--font-size);
  font-family: var(--font-family);
  width: 100%;
  max-width: 600px;
  margin-top: 10px;
}

.save-button:disabled {
  cursor: not-allowed;
}

.save-button:hover,
.save-button:active {
  border: 1px solid var(--save-button-hover-bg);
  background-color: var(--save-button-hover-bg);
}
.logout-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 24px;
  outline: none;
}
.centered-chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -120px;
}

@media only screen and (max-width: 600px) {
  .centered-chart-container {
    margin-left: 0;
  }
}
