/* Login.css */

/* Container styles */
div {
    max-width: 300px;
    margin: 50px auto;
    padding: 20px;
    background-color: #030303;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
  }
  
  /* Heading styles */
  h1 {
    font-size: 32px;
    text-align: center;
  }
  
  /* Input styles */
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #FFFFFF;
    background-color: #030303;
    color: #FFFFFF;
  }
  
  /* Button styles */
  button {
    width: 100%;
    padding: 10px;
    background-color: #6741D9;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
  }
  
  button:hover,
  button:active {
    border: 1px solid #F0C3F1;
  }
  
  /* Error message styles */
  p {
    color: red;
    margin-top: 10px;
  }
  